/* Font style */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    color: #0d1312;
}
h1 {
    padding-bottom: 32px;
    font-size: 48px;
    font-weight: 800;
}
h2 {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 24px;
}
h3 {
    font-size: 24px;font-weight: 800;
    line-height: 1.5;
    margin-bottom: 10px;
}
p {
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 1.5;
}
a {
    display: inline-block;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
}

.btn-1{
    font-family: "Azeret Mono", monospace;
    font-size: 20px;
    padding: 15px 20px;
    border-radius: 10px;
    border: 1px solid #0c1323;
    background-color: #ffffff;
    cursor: pointer;
}
.btn-1:hover{
    background-color: #f0f0f0;
}

.btn-2 {
    display: inline-block;
    font-family: "Azeret Mono", monospace;
    font-size: 20px;
    padding: 10px 20px;
    border: 1px solid #0c1323;
    background-color: #ffffff;
    cursor: pointer;
}
.btn-2:hover {
    background-color: #f0f0f0;
}
.section-heading{
    max-width: 840px;
    margin: 0 auto;
    width: 100%;
}


/* Navigation styles is here. */
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px ;
    max-width: 1150px;
    margin: 0 auto;
    width: 100%;
}
.navigation p{
    font-size: 28px;
    font-weight: 800;
}

/* Banner Section style is here. */
.section-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;text-align: center;
    background-image: url('assets/Hero-bg.png');
    background-size: 1400px;
    background-position: center; 
    background-repeat: no-repeat;
    padding: 25px ;
}
.section-banner img {
    height: 240px;
    margin-bottom: 32px;
}
.section-banner div{
    max-width: 998px;
}
.section-banner button {
    font-family: "Azeret Mono", monospace;
    font-size: 20px;
    margin-top: 20px;
    padding: 20px;
    background-color: #0c1323;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.section-banner button:hover {
    color: #ececec;
    background-color: #0c0c0c;
}

/* Why web development section is here. */
.section-web-development {
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin: 60px auto;
    padding: 40px;
    background-color: #f8f8f8ef;
    border-radius: 15px; 
    max-width: 1150px;
    width: 100%;
}
.section-web-development Header{
    max-width: 840px;
    width: 100%;
}
.web-dev-card {
    display: flex;
    justify-content:space-around;
    margin: 20px;
    text-align: left;
    background: linear-gradient(to right, #ffffff, #f8f8f8ef); 
    border-radius: 10px; 
    padding: 20px;
    width: 946px;
}
.web-dev-card-width {
    max-width: 550px;
    padding: 20px;
}
#web-dev-card-2{
    background: linear-gradient(to right, #f8f8f8ef, #ffffff);
    justify-content: left;
}

.section-web-development img{
    max-height: 240px;
    margin-top: 20px;
    border-radius: 5px;
}


/* Inspiration section is here. */
.inspiration {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

#video-container {
    border: 2px solid #e6e6e6;
    border-radius: 20px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inspiration iframe{
    border-radius: 20px;
    max-width: 1140px;
}

/* Current target section is here */
.section-target {
    text-align: center;
    padding: 40px;
}
.target-card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1150px;
    margin: 0 auto;
    width: 100%;
    flex-wrap: wrap; 
    gap: 25px;
}
.target-card {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    flex: 1;
    margin: 0 10px;
}
.target-card img {
    max-width: 100px;
    height: auto;
    margin-bottom: 10px;
}
#card-html {
    background-color: rgba(255, 76, 30, 0.05); 
}

#card-css {
    background-color: rgba(0, 76, 232, 0.05); 
}
#card-js {
    background-color: rgba(255, 223, 0, 0.05); 
}

/* Next Target Section is Here */
.next-target {
    text-align: center;
    padding: 40px;
}
.next-target-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.next-target-card {
    border: 1px solid #dcdcdc;
    border-radius: 15px;
    padding: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 1150px;
}
.next-target-card img {
    max-height: 100px;
    width: auto;
    border-radius: 10px;
}
.next-target-card article {
    text-align: left;
}
